<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/styles.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Notable&display=swap" rel="stylesheet">
</head>

<body class="bg-dark text-light">

    <header>
        <nav class="navbar bg-dark navbar-expand-lg" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand notable-regular" href="#">CinePedia</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item"><a class="nav-link active" href="#">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Estrenos 2026</a></li>
                        <li class="nav-item"><a class="nav-link" href="view/critica.html">Crítica de cine</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <section>
            <div class="container mt-4 text-center">
                <h1 class="notable-regular">Críticas de Cine</h1>
            </div>
        </section>
    </header>

    <br>

    <div class="container mt-4">
        <div class="row ">

            <section class="col-12 col-md-8">

                <div class="card bg-secondary text-bg-dark mb-4">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="../assets/img/five_nights_as_freddys2.webp" class="img-fluid rounded-start">
                        </div>

                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Five Nights At Freddy's 2</h5>
                                <p class="card-text" style="text-align: justify;">Five Nights At Freddy’s 2 reafirma el
                                    impacto de la saga en el terror comercial, aunque muestra algunas limitaciones
                                    narrativas. Emma Tammi expande la mitología de los animatrónicos y el misterioso
                                    regreso de William Afton, sosteniendo la tensión gracias a un diseño sonoro efectivo
                                    y al uso opresivo de espacios cerrados, pese a ciertos momentos de dispersión en la
                                    trama.
                                    <br>
                                    Aun así, sus secuencias visuales, la atmósfera intensa y la incorporación del
                                    “Faztalker” y nuevos animatrónicos aportan frescura. Sin reinventar el género, FNAF
                                    2 ofrece un espectáculo sólido e intrigante que cumple con las expectativas de los
                                    fanáticos.
                                </p>
                                <p><small>5 de diciembre de 2025 | 1h 44min | Terror</small></p>
                                <p><small>Dirigida por <strong>Emma Tammi</strong></small></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card bg-secondary text-bg-dark mb-4">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="../assets/img/Eternity.webp" class="img-fluid rounded-start">
                        </div>

                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Eternity</h5>
                                <p class="card-text" style="text-align: justify;">
                                    Eternity, dirigida por David Freyne, ofrece una mirada poética y contemplativa al
                                    más allá, explorando las decisiones que moldean nuestra esencia incluso después de
                                    la muerte. Con una estética visual suave y casi onírica, la película sigue el
                                    conflicto interno de una mujer dividida entre el amor presente de su esposo y el
                                    recuerdo persistente de su primer amor fallecido. Aunque la premisa podría caer en
                                    el melodrama, Freyne mantiene la historia contenida y emocionalmente clara.
                                    <br />
                                    El ritmo pausado puede resultar lento para quienes busquen un romance más enérgico,
                                    pero la cinta se sostiene gracias a su atmósfera espiritual, su fotografía delicada
                                    y las interpretaciones honestas del elenco. En conjunto, Eternity se convierte en
                                    una reflexión serena y emotiva sobre la permanencia del amor cuando el tiempo deja
                                    de existir.
                                </p>
                                <p><small>5 de diciembre de 2025 | 1h 54min | Comedia, Romántico</small></p>
                                <p><small>Dirigida por <strong>David Freyne</strong></small></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card  bg-secondary text-bg-dark  mb-4">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="../assets/img/valor_sentimental.jpg " class="img-fluid rounded-start">
                        </div>

                        <div class="col-md-8 ">
                            <div class="card-body">
                                <h5 class="card-title">Valor sentimental</h5>
                                <p class="card-text" style="text-align: justify;">
                                    Valor Sentimental, dirigida por Joachim Trier, es un drama profundamente emocional
                                    que examina cómo los recuerdos influyen en las decisiones más íntimas. Trier vuelve
                                    a destacar en la creación de personajes complejos, construyendo el retrato íntimo de
                                    una mujer que intenta reconciliarse con un pasado que sigue marcando su presente. La
                                    interpretación de Renate Reinsve es el eje del film: contenida, honesta y llena de
                                    vulnerabilidad.
                                    <br />
                                    Aunque avanza con un ritmo pausado, cada escena aporta significado gracias a una
                                    fotografía delicada y un guion que evita caer en lo predecible. Junto a Stellan
                                    Skarsgård e Inga Ibsdotter Lilleaas, el elenco da vida a una historia cálida y
                                    humana. En su conjunto, Valor Sentimental se convierte en una reflexión sincera
                                    sobre cómo las emociones —por dolorosas o intensas que sean— pueden guiarnos hacia
                                    la comprensión y la reconciliación personal.
                                </p>
                                <p><small>5 de diciembre de 2025 | 1h 54min | Comedia, Romántico</small></p>
                                <p><small>Dirigida por <strong>Joachim Trier</strong></small></p>
                            </div>
                        </div>
                    </div>
                </div>

            </section>

            <section class="col-12 col-md-4">
                <div class="p-3 bg-secondary rounded">
                    <h4>Películas destacadas</h4>

                    <div class="card text-bg-dark mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="../assets/img/destacados/Predator.jpg" class="img-fluid rounded-start"
                                    alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Predator</h5>

                                    <div style="color: gold; font-size: 1.2rem;">
                                        ★★★★☆ <strong>4.7</strong>
                                    </div>

                                    <p class="card-text">
                                        This is a wider card with supporting text below as a natural lead-in…
                                    </p>

                                    <p class="card-text">
                                        <small>Last updated 3 mins ago</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card text-bg-dark mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="../assets/img/destacados/zootropolis.jpg" class="img-fluid rounded-start"
                                    alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Zootrópolis 2</h5>

                                    <div style="color: gold; font-size: 1.2rem;">
                                        ★★★★☆ <strong>4.0</strong>
                                    </div>

                                    <p class="card-text">
                                        This is a wider card with supporting text below as a natural lead-in…
                                    </p>

                                    <p class="card-text">
                                        <small>Last updated 6 mins ago</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card text-bg-dark mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="../assets/img/destacados/Núremberg.jpg" class="img-fluid rounded-start"
                                    alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Núremberg</h5>

                                    <div style="color: gold; font-size: 1.2rem;">
                                        ★★★☆☆ <strong>3.2</strong>
                                    </div>

                                    <p class="card-text">
                                        This is a wider card with supporting text below as a natural lead-in…
                                    </p>

                                    <p class="card-text">
                                        <small>Last updated 4 mins ago</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card text-bg-dark mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="../assets/img/destacados/puñales.jpg" class="img-fluid rounded-start"
                                    alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Puñales por la espalda: De entre los muertos</h5>

                                    <div style="color: gold; font-size: 1.2rem;">
                                        ★★★☆☆ <strong>3.1</strong>
                                    </div>

                                    <p class="card-text">
                                        This is a wider card with supporting text below as a natural lead-in…
                                    </p>

                                    <p class="card-text">
                                        <small>Last updated 4 mins ago</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card text-bg-dark mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="../assets/img/destacados/ahora me ves.jpg" class="img-fluid rounded-start"
                                    alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Ahora me ves 3</h5>

                                    <div style="color: gold; font-size: 1.2rem;">
                                        ★★★☆☆ <strong>3.0</strong>
                                    </div>

                                    <p class="card-text">
                                        This is a wider card with supporting text below as a natural lead-in…
                                    </p>

                                    <p class="card-text">
                                        <small>Last updated 4 mins ago</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </section>

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>