body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align:center;
}

nav{
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li{
    display: inline-block;
    margin-right: 10px;
}

nav ul li a{
    text-decoration:none;
    color: #333;
    padding: 5px;
}

main{
    padding: 20px;
}

section{
    margin-bottom: 30px;
}

section h2{
    color: #333;
}

.project{
    margin-bottom: 20px;
}

.project img{
    width: 100px;
    max-width: 300px;
    height: auto;
}

.project p{
    color: #777;
}

.project a{
    display: inline-block;
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    margin-top: 10px;
}

img{
    height: 200px;
    width: 350px;
}

button{
    background-color: #333;
    color: #ffffff;
}

footer{
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}